.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.log span.changed {
    color: lightgreen;
    transition: all 0s; /*hack for one-way transition*/
    font-size: larger;
}

  .log span {
  transition: all 2s ease-in;
   animation-name: fadeColor;
}  


